.Login {
    padding: 16px 16px;
    margin: 16px;
}

.Login input {
  padding: 4px;
}

.Login label {
  padding: 4px;
  margin: 8px;
  color: black;
  font-weight: bold;
}

.Login button {
  padding: 4px;
  margin: 8px;
}

.Login p {
  color: black;
  font-weight: bold;
}