.App-header {
    
    display: flex;
    flex-direction: block;
    align-items: left;
    justify-content: left;
    color: #E1394E;
    border-bottom: 3px solid #E1394E;
    margin: 0;
    padding: 10px;
    
   
  }
  
  .App-header h1 { 
    margin: auto auto auto 0;
    color: #E1394E;
    padding: 2px;
    
  }

  .App-header img {
    width: 190px;
  }